@font-face
{
    font-family: "electrolize";
    src: url(fonts/Electrolize/Electrolize-Regular.ttf);
}

@font-face {
    font-family: "bruno";
    src: url(fonts/Bruno_Ace/BrunoAce-Regular.ttf);
}

:root
{
    --verde-gaia: #09BC8A;
    --laranja-gaia: #F66B30;
    --azul-gaia: #80A6F2;
}

html
{
    background-color: #f6f6f6;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

h2
{
    font-weight: lighter;
}

h3
{
    font-weight: lighter;
}

header div.container-grid
{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;margin-left:  130px;
    align-items: center;margin-right: 50px;

}

header div.container-grid img
{
    margin-top: 59px;
}

.banner 
{
    height: 100vh;
    background-image:url(img/banner.png); 
    background-repeat: no-repeat;
    width: auto;
    background-position:40%;  
}

div.menu
{
    margin-top: 90px;
    margin-right: 25px;
    width: 1070px;
    height: 130px;
    background-color: var(--azul-gaia);
    align-items: center;
    display: flex;
    border-radius: 30px;
    border: 4px solid black;
}

div.menu a
{
   color: black;
   text-decoration: underline transparent;
   font-size: 25px;
   font-family: "electrolize";

}

div.menu nav
{
    width: 1070px;
    margin-right: 50px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}


#sobre .titulo-sub
{
    width: 1050px;
    height: 250px;
    font-family: "bruno";
    box-shadow: 10px 0px 20px 0px rgba(0,0,0,0.5);
    border-radius: 20px;
    margin: 0 auto;
}

#sobre .texto-sobre
{
    width: 908px;
    height: 200px;
    font-family: "electrolize";
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.5);
    border-radius: 20px;
    padding-top: 40px;
    margin-left: 20px;
    font-size: 24px;
}
   

#sobre
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 100px;
}

#sobre .titulo-sub h2
{
    margin-top: 30px;
    font-size: 32px;
}

#sobre .titulo-sub h3
{
    font-size: 24px;
    margin-top: 20px;
}

#orcamento h2
{
    font-family: "bruno";
    text-align: center;
    padding-top: 30px;
    font-size: 32px;
}

#orcamento
{
    height: 650px;
    margin-bottom: 120px;
    background-size: contain;
    background-repeat: repeat;
    background-attachment: fixed;
    position: relative;
    background-color: white;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.5);
    width: 900px;
    border-radius: 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 120px;
}

#orcamento .card
{
    text-align: left;
    margin-top: 20px;
    font-family: "electrolize";
    flex-direction: column-reverse;
    font-size: 24px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;

}

#orcamento .card input
{
    color: black;
    font-family: "electrolize";
    font-size: 20px;
    width: 400px;
    height: 50px;
    outline: none;
    border-radius: 10px;
}
 
.campo-textarea
{
    font-family: "electrolize";
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    font-size: 24px;
}

.campo-textarea textarea
{
    font-family: "electrolize";
    font-size: 17px;
    outline: none;
    color: black;
    border-radius: 4px;
    padding: 10px;
    resize: none;
    width: 386px;
    height: 100px;
    outline: none;
    border-radius: 10px;
}

#orcamento form button
{
    background-color: var(--laranja-gaia);
    margin-right: 50px;
    width: 300px;
    height: 120px;
    cursor: pointer;
    border-radius: 15px;
    font-family: "bruno";
    font-size: 28px;
    outline: none;
    border: none;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.5);
    color: white;
}

#orcamento .imagem-botao
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 50px;
}

#orcamento .imagem-botao img
{
    margin-right: 85px;
    padding-top: 50px;
}

form
{
    display: flex;
    flex-direction: row;
}

#orcamento .imagem-botao button
{
    margin-top: 90px;
    margin-bottom: 50px;
}


#cases
{
    margin-top: 200px;
    width: 900px;
    height: 500px;
    background-color: white;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.5);
    border-radius: 20px;
    font-family: "bruno";
    font-size: 32px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 120px;
}

#cases .texto-cases
{
    width: 210px;
    height: 230px;
    margin-left: 100px;
    margin-top: 100px;
}

#cases .button-cases
{
    display: flex;
    align-items: flex-end;
    margin-right: 100px;
}

#cases .button-cases button
{
    width: 250px;
    height: 130px;
    margin-bottom: 90px;
    background-color: var(--laranja-gaia);
    font-family: "bruno";
    border: none;
    font-size: 28px;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

#empresa .repre
{
    font-family: "bruno";
    font-size: 32px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 120px;
}

#empresa .repre img
{
    margin-top: 50px;
    width:600px;
}

#duvidas 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#duvidas h2
{
    font-family: "bruno";
    font-size: 40px;
}

#duvidas .duvida1 .pergunta1
{
    margin-top: 50px;
    box-shadow: 9px 4px 20px 1px rgba(0,0,0,0.5);
    width: 900px;
    height: 100px;
    border-radius: 20px;
}

#duvidas .duvida1 .pergunta1 h3
{
    text-align: center;
    font-family: "bruno";
    font-size: 32px;
    padding-top: 32px;
}

#duvidas .duvida1 .resposta1
{
    box-shadow: 15px 10px 10px 1px rgba(0,0,0,0.5);
    width: 845px;
    height: 75px;
    margin-left: 25px;
    border-radius: 20px;
}

#duvidas .duvida1 .resposta1 p
{
    text-align: center;
    padding-top: 26px;
    font-family: "electrolize";
    font-size: 17px;
}

#duvidas .duvida2 .pergunta2
{
    margin-top: 50px;  
    margin-bottom: 50px;
    box-shadow: 9px 4px 20px 1px rgba(0,0,0,0.5);
    width: 900px;
    height: 100px;
    border-radius: 20px;
}

#duvidas .duvida2 .pergunta2 h3
{
    text-align: center;
    font-family: "bruno";
    font-size: 28Px;
    padding-top: 32px;
}

#duvidas .duvida2 .resposta2
{
    margin-top: 35px;
    box-shadow: 15px 10px 10px 1px rgba(0,0,0,0.5);
    width: 845px;
    height: 75px;
    margin-left: 25px;
    border-radius: 20px;
}

#duvidas .duvida2 .resposta2 p
{
    text-align: center;
    padding-top: 26px;
    font-family: "electrolize";
    font-size: 18px;    
}

#duvidas .duvida3 .pergunta3
{
    margin-top: 130px;  
    margin-bottom: 50px;
    box-shadow: 9px 4px 20px 1px rgba(0,0,0,0.5);
    width: 900px;
    height: 100px;
    border-radius: 20px;
}

#duvidas .duvida3 .pergunta3 h3
{
    text-align: center;
    font-family: "bruno";
    font-size: 27px;
    padding-top: 32px;
}

#duvidas .duvida3 .resposta3 
{
    margin-top: 35px;
    box-shadow: 15px 10px 10px 1px rgba(0,0,0,0.5);
    width: 845px;
    height: 75px;
    margin-left: 25px;
    border-radius: 20px;
}

#duvidas .duvida3 .resposta3 p
{
    text-align: center;
    padding-top: 26px;
    font-family: "electrolize";
    font-size: 18px; 
}

#duvidas .duvida4 .pergunta4
{
    margin-top: 130px;  
    margin-bottom: 50px;
    box-shadow: 9px 4px 20px 1px rgba(0,0,0,0.5);
    width: 900px;
    height: 100px;
    border-radius: 20px;
}

#duvidas .duvida4 .pergunta4 h3
{
    text-align: center;
    font-family: "bruno";
    font-size: 23px;
    padding-top: 32px;
}

#duvidas .duvida4 .resposta4 
{
    margin-top: 40px;
    box-shadow: 15px 10px 10px 1px rgba(0,0,0,0.5);
    width: 845px;
    height: 75px;
    margin-left: 25px;
    border-radius: 20px;
}

#duvidas .duvida4 .resposta4 p
{
    text-align: center;
    padding-top: 26px;
    font-family: "electrolize";
    font-size: 18px; 
}

#rodape .banner_r
{
    margin-top: 200px;
    height: 100vh;
    background-image:url(img/banner_rodape.png); 
    background-repeat: no-repeat;
    width: auto;
    background-position:40%;  
}

#rodape .banner_r h2
{
    text-align: center;
    font-family: "bruno";
    font-weight: lighter;
    font-size: 40px;
}

#rodape .banner_r .texto-botao .textor  button
{
    background-color: var(--verde-gaia);
    margin-left: 75px;
    font-family: "electrolize";
    width: 250px;
    height: 60px;
    border: none;
    border-radius: 20px;
    text-align: left;
    color: white;
    font-size: 20px;
    text-indent: 15px;
}

#rodape .banner_r .texto-botao .textor p
{
    font-family: "electrolize";
    font-size: 40px;
    width: 750px;
    height: 300px;
    margin-left: 75px;
    margin-top: 100px;
    text-align: justify;
    margin-bottom: 100px;
}